{{#section 'head'}}
  <!-- google to ignore this page-->
  <meta name="robots" content="noindex">
{{/section}}

<h1>test page</h1>
<p>testing  some jqyery stuff</p>

{{#section 'jquery'}}
<script>
  $('document').ready(function(){
    $('h1').html('jquery work');
  })
</script>
{{/section}}